@import "infopanel.scss";
@import "legend.scss";

html,
body,
#root {
    width: 100vw;
    height: 100vh;
}
body {
    margin: 0;
    padding: 0;

    .mapboxgl-ctrl.mapboxgl-ctrl-group {
        background: transparent;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
        float: right;
    }

    span {
        font-weight: bold;
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 1023px) {
    .mapboxgl-ctrl-top-left {
        width: 100%;
    }
    .explainPopup .info-panel {
        display: none;
    }

    .info-panel {
        .content {
            width: 85%;
        }
    }

    .mapboxgl-ctrl-top-left .mapboxgl-ctrl {
        margin: 0 auto;
        margin-top: 10px;
        float: initial;
        min-width: 95%;
    }
}
